[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
external_signaling_address=${EXTERNAL_ADDRESS}
external_media_address=${EXTERNAL_ADDRESS}
local_net=10.0.0.0/8
local_net=172.16.0.0/12
local_net=192.168.0.0/16

[1001]
type=endpoint
context=from-internal
disallow=all
allow=ulaw,alaw
auth=1001-auth
aors=1001-aor
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[1001-auth]
type=auth
auth_type=userpass
username=1001
password=${SIP_1001_PASSWORD}

[1001-aor]
type=aor
max_contacts=5
remove_existing=yes

[1002]
type=endpoint
context=from-internal
disallow=all
allow=ulaw,alaw
auth=1002-auth
aors=1002-aor
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[1002-auth]
type=auth
auth_type=userpass
username=1002
password=${SIP_1002_PASSWORD}

[1002-aor]
type=aor
max_contacts=5
remove_existing=yes
